<aside class="aside">
  <div class="container flex__column space-between">
    <ul class="sections__container flex__column flex-start">
      <li class="nav__item flex__row flex-start ripple-effect">
        <a
          href="../overview"
          class="nav__link flex__row flex-start"
          id="Overview">
          <span class="nav__icon__container">
            <i class="fa-solid fa-user"></i>
          </span>
          <span class="nav__text__container">Overview</span>
        </a>
      </li>
      <li class="nav__item flex__row flex-start ripple-effect">
        <a href="../orders" class="nav__link flex__row flex-start" id="Orders">
          <span class="nav__icon__container">
            <i class="fa-solid fa-cart-shopping"></i>
          </span>
          <span class="nav__text__container">Orders</span>
        </a>
      </li>
      <li class="nav__item flex__row flex-start ripple-effect">
        <a
          href="../wishlist"
          class="nav__link flex__row flex-start"
          id="wishList">
          <span class="nav__icon__container">
            <i class="fa-solid fa-bookmark"></i>
          </span>
          <span class="nav__text__container">Wish list</span>
        </a>
      </li>
      <li class="nav__item flex__row flex-start ripple-effect">
        <a
          href="../addresses"
          class="nav__link flex__row flex-start"
          id="addresses">
          <span class="nav__icon__container">
            <i class="fa-solid fa-location-dot"></i>
          </span>
          <span class="nav__text__container">Addresses</span>
        </a>
      </li>
      <li class="nav__item flex__row flex-start ripple-effect">
        <a
          href="../security"
          class="nav__link flex__row flex-start"
          id="security">
          <span class="nav__icon__container">
            <i class="fa-solid fa-lock"></i>
          </span>
          <span class="nav__text__container">Security</span>
        </a>
      </li>
      <li class="nav__item flex__row flex-start ripple-effect">
        <a
          href="../settings"
          class="nav__link flex__row flex-start"
          id="settings">
          <span class="nav__icon__container">
            <i class="fa-solid fa-gear"></i>
          </span>
          <span class="nav__text__container">Settings</span>
        </a>
      </li>
      <li class="nav__item flex__row flex-start ripple-effect">
        <a
          href="../support"
          class="nav__link flex__row flex-start"
          id="support">
          <span class="nav__icon__container">
            <i class="fa-solid fa-headset"></i>
          </span>
          <span class="nav__text__container">Support</span>
        </a>
      </li>
    </ul>
    <div class="logout__btn__container">
      <button class="logoutBtn ripple-effect btn" id="logoutBtn ">
        <span class="nav__icon__container">
          <i class="fa-solid fa-right-from-bracket logout__icon"></i>
        </span>
        <span class="nav__text__container">logout</span>
      </button>
    </div>
  </div>
</aside>
