<header class="header flex__column">
  <aside class="flex__row aside__header">
    <div class="left__nav flex__row center">
      <i class="fa-solid fa-bars menu__icon"></i>
      <div class="logo">
        <a href="#Home" aria-label="Logo">E-commerce </a>
      </div>
    </div>
    <div class="search__box flex__row">
      <input
        type="search"
        name="mSearch"
        id="mSearch"
        class="search__input"
        placeholder="Search for a product" />
      <i class="fa-solid fa-magnifying-glass search__icon"></i>
    </div>
    <div class="user__signedIn__icons flex__row">
      <i class="fa-regular fa-bell user__signed__icon"></i>
      <i class="fa-solid fa-cart-shopping user__signed__icon"></i>
      <div class="user__profile flex__row">
        <i class="fa-regular fa-user"></i>
      </div>
    </div>
  </aside>
  <nav class="flex__row nav__header space-between">
    <ul class="nav__container flex__row">
      <li class="header__item">
        <a href="#Selling" aria-label="best selling" class="header__link">
          Best Selling
        </a>
      </li>
      <li class="header__item">
        <a href="#Offers" aria-label="offers" class="header__link">
          Today's offer
        </a>
      </li>
      <li class="header__item">
        <a href="#Clothes" aria-label="clothes" class="header__link">
          Clothes
        </a>
      </li>
      <li class="header__item">
        <a href="#Makeup" aria-label="makeup" class="header__link"> Makeup </a>
      </li>
      <li class="header__item">
        <a href="#Computer" aria-label="computer" class="header__link">
          Computer
        </a>
      </li>
      <li class="header__item">
        <a href="#Phones" aria-label="phones" class="header__link">
          Smart phones
        </a>
      </li>
      <li class="header__item">
        <a href="#Kitchen" aria-label="kitchen" class="header__link">
          Kitchen
        </a>
      </li>
    </ul>
    <span class="lang"> English <i class="fa-solid fa-angle-down"></i> </span>
  </nav>
</header>

<footer class="footer">
  <div class="footer__content__container flex__row flex-start">
    <div class="location__container flex__column flex-start">
      <span class="location__title"> Visit US </span>
      <span class="location__text"> Egypt - New Damietta city </span>
      <iframe
        title="footer-map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54465.93820921435!2d31.701168799999994!3d31.43833185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f9e375eb0246b7%3A0x8e6df51878254838!2sDamietta%20El-Gadeeda%20City%2C%20Kafr%20Saad%2C%20Damietta%20Governorate!5e0!3m2!1sen!2seg!4v1722689093227!5m2!1sen!2seg"
        width="300px"
        height="290px"
        style="border: 0"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="footer__map"></iframe>
    </div>

    <div class="footer__categories">
      <span class="footer__categories flex__row">
        <div class="footer__category__container flex__column flex-start">
          <p class="category__title">Electronics</p>
          <ul
            class="flex__column space-between footer__category__ul__container">
            <li class="footer__category">
              <a
                href="#Mobile"
                aria-label="mobile"
                class="footer__link__category">
                Mobile
              </a>
            </li>
            <li class="footer__category">
              <a
                href="#Laptops"
                aria-label="laptops"
                class="footer__link__category">
                Laptops
              </a>
            </li>
            <li class="footer__category">
              <a
                href="#Headphones"
                aria-label="headphones"
                class="footer__link__category">
                Headphones
              </a>
            </li>
            <li class="footer__category">
              <a
                href="#Camera"
                aria-label="camera"
                class="footer__link__category">
                Camera
              </a>
            </li>
            <li class="footer__category">
              <a
                href="#Watches"
                aria-label="watches"
                class="footer__link__category">
                Watches
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__category__container flex__column flex-start">
          <p class="category__title">Fashion</p>
          <ul
            class="flex__column space-between footer__category__ul__container">
            <li class="footer__category">
              <a
                href="#Wallets"
                aria-label="wallets"
                class="footer__link__category">
                Wallets
              </a>
            </li>
            <li class="footer__category">
              <a
                href="#Sports"
                aria-label="sports"
                class="footer__link__category">
                Sport
              </a>
            </li>
            <li class="footer__category">
              <a
                href="#Clothes"
                aria-label="clothes"
                class="footer__link__category">
                Clothes
              </a>
            </li>
            <li class="footer__category">
              <a href="#TVs" aria-label="TVs" class="footer__link__category">
                TVs
              </a>
            </li>
            <li class="footer__category">
              <a
                href="#Accessories"
                aria-label="accessories"
                class="footer__link__category">
                accessories
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__category__container flex__column flex-start">
          <p class="category__title">User</p>
          <ul
            class="flex__column space-between footer__category__ul__container">
            <li class="footer__category">
              <a
                href="#Orders"
                aria-label="orders"
                class="footer__link__category">
                Orders
              </a>
            </li>
            <li class="footer__category">
              <a
                href="#Favs"
                aria-label="favorites"
                class="footer__link__category">
                favorites
              </a>
            </li>
            <li class="footer__category">
              <a href="#Cart" aria-label="Cart" class="footer__link__category">
                Cart
              </a>
            </li>
            <li class="footer__category">
              <a
                href="#Privacy"
                aria-label="Privacy"
                class="footer__link__category">
                Privacy policy
              </a>
            </li>
            <li class="footer__category">
              <a
                href="#Policy"
                aria-label="Policy"
                class="footer__link__category">
                Policy
              </a>
            </li>
          </ul>
        </div>
      </span>
    </div>
  </div>
  <div class="footer__contact__container flex__row">
    <p>Follow us</p>
    <a href="#Facebook" aria-label="Facebook" class="footer__scoial">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="#Telegram" aria-label="Telegram" class="footer__scoial">
      <i class="fa-brands fa-telegram"></i>
    </a>
    <a href="#Whatsapp" aria-label="Whatsapp" class="footer__scoial">
      <i class="fa-brands fa-whatsapp"></i>
    </a>
    <a href="#Instagram" aria-label="Instagram" class="footer__scoial">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="#Twitter" aria-label="Twitter" class="footer__scoial">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
  </div>
  <div class="copyrights__container flex__row center">
    <span class="copyright__market__name"> E-commerce </span>
    <span class="copyrights__year"> 2024 </span>
    <i class="fa-solid fa-copyright"></i>
    <span class="copyrights__text"> all copyrights are reserved </span>
  </div>
  <div class="mazaya__copyrights flex__row center">
    Made by
    <a href="https://abdodiab.online" aria-label="mazaya">Mazaya Services</a>
  </div>
</footer>
