.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.4s;
}
.slider {
  position: absolute;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background-color: white;
  top: 2px;
  left: 2px;
  transition: transform 0.4s;
}
.switch.checked {
  background-color: var(--Primary-color);
}
.switch.checked .slider {
  transform: translateX(25px);
}
.passChangeComponent {
  gap: 20px;
}
.section__data {
  width: 100%;
  height: 100%;
  gap: 50px;
}
section {
  width: 100%;
  min-height: 100%;
}
.section__data__card {
  width: 100%;
  padding-left: 35px;
  margin-top: 10px;
  gap: 10px;
}
.enable__auth__card {
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.setcion__data__card__title {
  width: 100%;
  text-align: center;
}
.enable__auth__card .setcion__data__card__title {
  width: auto;
}
.old__pass__input {
  width: 100%;
  height: 40px;
}
.new__pass__input {
  height: 40px;
}
.pass__input__container {
  gap: 20px;
}

.change__pass__container {
  width: 100%;
  min-height: 100px;
  height: max-content;
  gap: 20px;
}
.changePass {
  color: #fff;
  background-color: var(--Primary-color);
  font-size: 18px;
  width: 200px;
  height: 50px;
}
input:disabled,
button:disabled {
  background-color: #f0f0f0; /* Light gray background */
  color: #888888; /* Gray text color */
  border: 1px solid #cccccc; /* Gray border */
  cursor: not-allowed; /* Change cursor to indicate no interaction */
  opacity: 0.6; /* Make the input appear less prominent */
}
@media (max-width: 1300px) {
  .pass__input__container {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .pass__input__container {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .pass__input__container {
    width: 100%;
  }
  .section__data__card {
    padding: 0;
  }
  .enable__auth__card {
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .setcion__data__card__title {
    font-size: 14px;
  }
  .switch.checked .slider {
    transform: translateX(16px);
  }
  .switch.checked {
    background-color: var(--Primary-color);
  }
  .switch {
    width: 35px;
    height: 19px;
  }
  .slider {
    height: 15px;
    width: 15px;
  }
  .input {
    padding: 7px 15px;
    font-size: 14px;
    height: 40px;
  }
  .changePass {
    height: 40px;
    width: 150px;
    padding: 5px;
    font-size: 14px;
  }
}
